*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    padding: 20px;
}

.container{
    width: 100%;
    position: relative;
}

canvas{
    background-color: #d3d3d3;
    display: block;
    margin: 0 auto;
}

/*BUTTONS*/
.btn-container{
    /*POSITIONING*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.btn{
    /*STYLING*/
    padding: 5px;
    font-size: 30px;
    text-align: center;
    color: #a8a8a8;
    font-weight: bolder;
    border: 2px solid #a8a8a8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover{
    color: white;
    border: 2px solid white;
}


/*UTILITIES*/
.d-none{
    display: none;
}

.d-cursor-none{
    cursor: none;
}
